<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.firstName %></h1>
    <p>
      You won item number <%= @item.description %> Please come to the front to claim your item!
    </p>
  </body>
</html>