<div class="jumbotron">


<div class="panel panel-default">
  <div class="panel-heading"><h2>Register For Ticket(s)</h2></div>
  <div class="panel-body">

</div>
<div class="panel-footer"><%= render 'form', user: @user %></div>
</div>

</div>
