<div class="jumbotron">

	<h1>Welcome!</h1> 
	<%= image_tag("picture.jpg", class: "img-responsive", id: "navbar-logo")%>
	<p><strong>Thank you for your purchase.</p><strong/>

	<%= link_to 'Purchase', new_user_path, class: 'btn btn-warning btn-lg'%> <br/>

</div>
